/* src/components/Header.css */

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box; /* 패딩을 너비에 포함하여 계산 */
  height: 90px; /* 헤더 높이 설정 */
  background-color: rgba(10, 10, 10, 0.5);
}

/* 왼쪽 섹션 스타일링 */
.header-left {
  display: flex;
  gap: 15px; /* 요소들 간의 간격 */
  width: 200px;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 300px; /* 로고 컨테이너 너비 설정 */
  
}

/* 로고 스타일링 */
.header-logo {
  height: auto;
  width: 300px;
  fill: white; /* SVG 색상을 흰색으로 지정 */
  margin-top: 30px;
}

/* 메뉴(네비게이션) 스타일링 */
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none; /* 리스트 점 제거 */
  display: flex;
  gap: 30px; /* 메뉴 항목 간의 간격 */
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: white;
  text-decoration: none; /* 밑줄 제거 */
  font-weight: bold;
  transition: color 0.3s;
  position: relative; /* ::after 가상 요소를 위한 포지션 */
}

.nav-link:hover {
  color: #DDBB52; /* 연한 노란색 */
}

.nav-link.active {
  color: #ffffe0; /* 활성 링크 색상 */
}

.nav-link.active::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px; /* 링크 텍스트 아래에 위치 */
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #ffffe0; /* 노란색 원 */
  border-radius: 50%;
}

.nav-item:hover .nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #DDBB52;
  border-radius: 50%;
}


/* 오른쪽 섹션 (국기) 스타일링 */
.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
}

.flag-icon {
  width: 30px;
  height: auto;
  border-radius: 20%;
  border: 1px solid #ddd;
}
