.partner-logos-container {
  padding: 40px 0;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.partner-logos-container:before,
.partner-logos-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.partner-logos-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.partner-logos-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.partner-logos-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}

.logos-grid {
  display: inline-block;
  animation: scroll 40s linear infinite;
}

.partner-logo {
  height: 100px;
  margin: 0 40px;
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
